@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

p {
  font-size: 15px;
  line-height: 24px;
}

h1 {
  font-size: 150%;
}

.title {
  margin-right: 200px;
  font-weight: 400;
  color: var(--mayo-blue);
}

h2 {
  color: rgb(112, 111, 111);
  font-size: 121%;
}

h3 {
  font-size: 109%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto' !important;
}

body *, html * {
  font-family: 'Open Sans' !important;
}

code span.kw { color: var(--mayo-blue); font-weight: bold; } /* Keyword */
code span.ot { color: var(--mayo-blue); } /* Other */
code span.fl,
code span.sc,
span.st,
span.bn,
code span.dv{ color: var(--mayo-brightblue); }

/* Ensure code uses monospaced font */
code, kbd, pre, samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
/* Ensure syntax highlighted code also uses monospaced font */
code span,
code span.kw,  /* Keyword */
code span.ot,  /* Other */
code span.fl,  /* Float */
code span.sc,  /* SpecialChar */
code span.st,  /* String */
code span.bn,  /* BaseN */
code span.dv,  /* DecVal */
code span.co,  /* Comment */
code span.at,  /* Attribute */
code span.cv,  /* CommentVar */
code span.cf,  /* ControlFlow */
code span.op,  /* Operator */
code span.bu,  /* BuiltIn */
code span.ex,  /* Extension */
code span.pp,  /* Preprocessor */
code span.in,  /* Information */
code span.vs,  /* VerbatimString */
code span.ss,  /* SpecialString */
code span.im,  /* Import */
code span.va,  /* Variable */
code span.fu,  /* Function */
code span.re,  /* RegionMarker */
code span.er   /* Error */
{
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}


@media (max-width: 768px) {
  #TOC {
    margin-top: 100px;
  }
}
