/********************************/
/* Changes Title on Title Slide */
/********************************/
.title-slide hgroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.title-slide hgroup h1 {
  font-size: 60px;
  color: rgb(0,70,173);
  
}
.title-slide hgroup h2 {
  color: rgb(0,70,173);
}
.title-slide hgroup p {
  color: black;
}

/*********************************************/
/* Removes Grey Gradient at Bottom of Slides */
/*********************************************/
slides > slide.backdrop {
  background: white;
}

/****************************/
/* Changes Background Color */
/****************************/
body {
  background: black;  /*Black is the default*/
} 

/*********************************************/
/* Changes Section Slide Background to White */
/*********************************************/
slides > slide.dark {
  background: white !important;
}

.segue h2 {
  color: rgb(0,70,173);
}

.segue hgroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/******************************************/
/* Changes Slide Text Colors to Mayo Blue */
/******************************************/
h1, h2, h3 {
  color: rgb(0,70,173);
}

p, ol, ul {
  color: black;
}

ol li,
ul li {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}


/******************************/
/* Changes R Code Text/Output */
/******************************/
/*
pre {
  color: rgb(0,70,173);
}
*/
/*
.prettyprint {
  background-color: ;
}
*/

/***************************************************************/
/* Change Color of Slide Number Count on Bottom Right of Slide */
/***************************************************************/
slides > slide:not(.nobackground):after {
  color: black;
}

/****************************************/
/* Changes Location/Color of Mayo Logo */
/****************************************/
aside.gdbar {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 5%;
  top: 5%;
  border-radius: 0 0px 0px 0;
  background: white;
  background-size: 0% 100%;
  transition: all 0.5s ease-out 0.5s;
}

aside.gdbar img {
  width: 125px;
  height: 125px;
  position: absolute;
  right: 5%;
  margin: 8px 8px;
}

/***************************************/
/* Changes Size of Mayo Logo on Slides */
/***************************************/
slides > slide:not(.nobackground):before {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}















